@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.lista {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}
.fotoProducto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}
.listadoProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contador {
  display: flex;
  flex-direction: row;
}
