@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.anclas {
  padding: 5px;
  list-style: none;
}

.carrito {
  height: 30px;
  width: 30px;
}
.logo {
  height: 60px;
  width: auto;
}
.home,
.tienda,
.productos {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: aliceblue;
  font-family: 'Playfair Display', serif;
}
