@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.anclas {
  padding: 5px;
  list-style: none;
}

.carrito {
  height: 30px;
  width: 30px;
}
.logo {
  height: 60px;
  width: auto;
}
.home,
.ayuda,
.productos {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: #a67d03;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}
