@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0b26;
}
.header {
  background-color: black;
  padding: 10px;
}
h1 {
  font-family: 'Ephesis', cursive;
  letter-spacing: 3px;
  color: #6d550d;
  font-weight: bold;
}
